*{margin:0; padding:0;}
.main{width: 1200px; margin: 50px auto;}
.main h2{text-align: center; margin-bottom: 20px;}

.main .search_wrap{width: 400px; margin: 10px auto;}
.main .search_wrap input{width: 250px; height:29px; margin: 10px auto;}
#searchBtn{display: inline-block; width: 110px; height: 30px; font-size: 15px;}

.main table{border-collapse: collapse; width: 1200px;}
.main th{ height: 45px; background: #efefef; border-top: 3px solid #777575ef; 
text-align: center;}
.main td{ height: 40px; border-bottom: 1px solid #efefef; text-align: center;}
.button{margin-top:30px; display: flex; justify-content: flex-end; width: 1200px; }
.button button{display: inline-block; width: 110px; height: 30px;
margin-left: 10px; font-size: 15px;}

/*팝업창 부분*/
.p_all{width: 100%; height: 100%; background: rgba(0,0,0,0.4); 
position: absolute; top:0; display: none;
}
.p_main{width: 600px; height: 450px; border: 1px solid #ddd; margin:0 auto;
background: white; position: relative; top:25%;}
.p_main h2{text-align: center; margin: 40px 0; font-size: 40px;
color: #333; font-weight: 700;}
.p_main table{width: 600px; text-align: center; border-collapse: collapse;}
.p_main table th{padding-left: 50px; text-align: left; font-size: 20px; color: #666;}
.p_main table td{height: 50px;}
.p_main input[type='text']{width: 380px; height: 40px; padding-left: 20px; box-sizing: border-box;
border: 1px solid #ddd; font-size: 20px;}

#in_btn button{width: 140px; height: 40px; font-size: 18px; font-weight: 600;
background: rgb(114, 90, 55); color: white; border: 0;}
#in_btn{text-align: center; height: 100px;}

